<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <!-- #section:basics/sidebar -->
            @Html.Partial("_Sidebar")
            <!-- /section:basics/sidebar -->

            <!-- top navigation -->
            @Html.Partial("_Navbar")
            <!-- /top navigation -->


            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>               
                </div>                
            </div>
            <div id="dialog-confirm" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 28px; max-height: none; height: auto; display: none;">
                <div class="alert alert-info bigger-110">Izvršili ste izmjene podataka na stranici. Da li želite da te izmjene budu sačuvane? </div>
            </div>

            <!-- footer content -->
            @Html.Partial("_Footer")
            <!-- /footer content -->

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jTable")
    @RenderSection("scripts", required: false)
</body>
</html>
